body {
	background-color: #000;
}

#demo-area {
	background-color: #fff;
	width: 500px;
	height: 300px;
	margin: 50px auto;
}

.box {
	background-color: #00ff00;
	width: 50px;
	height: 50px;
	color: #fff;
	margin: 0 auto;
}
